.Welcome{
  background-color: transparent;
  text-align: center;
  display: -moz-inline-box;

}

.Mainhead{
  font-size: 100px;
  font-style: italic;
  color: purple;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  position: relative;
}

.app::after{
  background-image: url('peer-tutoring4.jpg');
  opacity: 0.45;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.login {
  text-align: center;
  position: relative;
  top: 100px;
  display: -moz-inline-box;
  width: 100%;
  height: 100%;
  
}

.user, .pass {
  padding: 10px;
  height:20px;
}


